.vboxEntered {
    -fx-background-color: #2e8b57;
    -fx-border-width: 2px;
    -fx-padding: 10;
    -fx-spacing: 8;
}

.vboxExited {
   
}

.vboxClicked {
    -fx-background-color: #5F9EA0;
    -fx-border-width: 2px;
    -fx-padding: 10;
    -fx-spacing: 8;
}